:root {
    --color-telegram: #0088cc;
    --color-x-twitter: #00aced;
    --color-facebook: #3b5998;
    --color-instagram: #517fa4;
    --color-youtube: #cd201f;
    --color-tiktok: #000000;
    --color-linkedin: #0077b5;
}